:root {
  --primary-colour-blue: rgb(42, 42, 250);
  --primary-medium-gray: rgb(165, 160, 160);
  --primary-light-gray: rgb(201, 200, 200);
  --primary-dark-gray: rgb(17, 17, 17);
  --primary-very-dark-gray: rgb(10, 10, 10);
  --secondary-gradient-1: linear-gradient(
    90deg,
    rgb(247, 155, 36),
    10%,
    rgb(255, 74, 3)
  );
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: white;
}
.section-1 {
  padding: 2rem 10rem;
  background-image: url(./images/gymSection1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.nav {
  padding: 4rem 6rem;
  display: flex;
  height: 2rem;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
}
.main-header .sticky {
  position: fixed;
  background-color: var(--primary-light-gray);
}
.logo {
  height: 3rem;
  width: 3rem;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--primary-colour-blue);
}
.pageLinks {
  display: flex;
  align-items: center;
}
.sections {
  display: flex;
}
a {
  text-decoration: none;
}
.sections li {
  list-style: none;
  color: white;
  margin-right: 2rem;
}
.btn {
  color: white;
  background: none;
  margin-right: 2rem;
}
.btn-login {
  margin-right: 2rem;
  padding: 1rem 4rem;
  border-radius: 10px;
  border: 1px solid white;
}
.btn-register {
  padding: 1rem 4rem;
  border-radius: 10px;
  background-color: var(--primary-colour-blue);
  border: 1px solid var(--primary-colour-blue);
}
/*styling section1 contents*/
.section-1-content {
  width: 35vw;
  text-align: center;
  margin: 12rem auto 0;
}
.header-1 {
  font-size: 5.2rem;
  font-weight: 600;
  font-style: normal;
}
.header-content {
  color: var(--primary-medium-gray);
  font-size: 1.4rem;
}
.section-1-input {
  margin-top: 2rem;
  width: 100%;
  text-align: left;
  position: relative;
}
input {
  padding: 1.5rem 3rem;
  width: inherit;
  background-color: var(--primary-medium-gray);
  border: 1px solid var(--primary-light-gray);
  border-radius: 10px;
  outline: none;
}
input::placeholder {
  color: var(--primary-light-gray);
}
.btn-input {
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 10px;
  position: absolute;
  margin-left: 67%;
  background: var(--secondary-gradient-1);
  color: var(--primary-light-gray);
  font-weight: 400;
}
.content-facts {
  text-align: left;
  display: flex;
  margin: 0 auto;
  margin-top: 2rem;
}
.content-facts div {
  display: flex;
  margin-right: 2rem;
  flex-direction: column;
  padding: 0 2rem;
}
.facts-number {
  font-size: 2.5rem;
  font-weight: 600;
}
.content-facts div:nth-child(1) {
  margin-left: 2rem;
}
.content-facts div:nth-child(2),
.content-facts div:nth-child(3) {
  border-left: 2px solid var(--primary-light-gray);
}
.facts-text {
  font-size: 1.3rem;
  color: var(--primary-light-gray);
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 1.4rem;
  }
  .header-1 {
    font-size: 4rem;
  }
  .btn-input {
    margin-left: 66%;
    padding: 1.5rem 2rem;
  }
}

/*Styling the second page -- part 1*/
.main-content {
  width: 100vw;
}
.section-2 {
  background-color: black;
}
.part {
  padding: 10rem;
}
.part-1 {
  display: flex;
  justify-content: space-between;
}
.header-3 {
  font-size: 2.5rem;
  font-weight: 600;
}
.header-3 span {
  color: var(--primary-colour-blue);
}
.part-1-main {
  background-color: var(--primary-very-dark-gray);
  width: 100%;
  margin-bottom: 4rem;
  padding: 4rem 2rem;
  display: flex;
  overflow: hidden;
}

.program {
  background-color: var(--primary-dark-gray);
  margin: 4rem 1rem;
  min-width: 21%;
  /* height: 18rem; */
  border-radius: 10px;
  padding: 2rem;
}
.program-active {
  background-color: var(--primary-colour-blue);
  color: white;
}
.program i {
  color: var(--primary-colour-blue);
  height: 2rem;
  width: 2rem;
}
.program p {
  font-size: 1.5rem;
  color: rgb(70, 70, 70);
}
.program-active i {
  color: white;
}
.program-active p {
  color: white;
}
.header {
  text-align: center;
  text-transform: capitalize;
}
.part-2 main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 6rem auto 0rem;
  gap: 6rem;
}
.images {
  width: 15rem;
  height: 30rem;
  position: relative;
}
.active {
  width: 50rem;
  border-top-left-radius: 110px;
  border: 1px solid orangered;
}

.images img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 40px;
  object-fit: cover;
}
.active img {
  border-top-left-radius: 100px;
}
.header-5 {
  font-size: 2rem;
}
.image-content {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: -6rem;
  margin-left: 2rem;
}
.image-content p {
  font-size: 1.2rem;
}
@media screen and (max-width: 1280px) {
  .part {
    padding: 10rem 8rem;
  }
  .header-3 {
    font-size: 2rem;
  }
  .part-2 main {
    width: 90%;
    margin: 4rem 5rem 0rem;
    gap: 4rem;
  }
}
.part-3 main {
  width: 50%;
  margin: 3rem auto;
}
.part-3 p {
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-light-gray);
}
.part-3-img {
  width: 100%;
  height: 35rem;
  padding: 0rem 2rem;
  position: relative;
}
.part-3-img img {
  position: absolute;
  width: 94%;
  height: 35rem;
  margin: 2rem auto;
  object-fit: cover;
}
.img-shape {
  background-color: var(--primary-colour-blue);
  width: 100%;
  height: 20rem;
  clip-path: polygon(0% 50%, 100% 30%, 100% 100%, 0% 100%);
  border: 20px solid var(--primary-colour-blue);
  border-radius: 6px;
  margin-top: 18.5rem;
  margin-left: -1.8rem;
  position: absolute;
}
.part-4 {
  background-color: var(--primary-very-dark-gray);
  padding: 4rem 12rem;
}
.part-4-main {
  background-color: var(--primary-dark-gray);
  padding: 4rem 8rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
#heading {
  width: 60%;
}
/* Part 5, Section 2 Styling the classes part in section 2 */
.classes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  margin-top: 6rem;
  position: relative;
}
.class-hidden {
  display: none;
}
.class {
  font-size: 1.2rem;
  color: var(--primary-light-gray);
}
.part-5-img {
  width: 100%;
  height: 25rem;
  position: relative;
}
.part-5-img img {
  width: 95%;
  height: 25rem;
  object-fit: cover;
  margin-left: 0.8rem;
  position: absolute;
}
.img-borderShape {
  background-color: var(--primary-colour-blue);
  width: 100%;
  height: 15rem;
  clip-path: polygon(0% 40%, 100% 10%, 100% 100%, 0% 100%);
  border: 20px solid var(--primary-colour-blue);
  position: absolute;
  border-radius: 6px;
  margin-top: 10.7rem;
}
.details {
  display: flex;
  justify-content: space-between;
}
.details span {
  margin-right: 1rem;
}
.class-icon {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 20px;
  background-color: rgb(245, 52, 4);
}
.class-details1 {
  margin-top: 2rem;
}
.class-details2 {
  font-size: 1.5rem;
}
.margin_1 {
  margin: 1rem 0;
}
ul {
  display: block;
  margin-left: 1.5rem;
}
li {
  list-style-type: disc;
}
.btn-more {
  padding: 1rem 2rem;
  border: none;
  background-color: var(--primary-colour-blue);
}
.btn-trial {
  padding: 1rem 2rem;
  border: 1px solid var(--primary-colour-blue);
  box-shadow: 1px 1px 1px var(--primary-colour-blue);
}
.btn-center {
  text-align: center;
  margin-top: 6rem;
}
.btn-seeAll {
  color: white;
  background: var(--primary-colour-blue);
  border: none;
  padding: 1rem 4rem;
}
/*Part 6, Section 2*/
.instructors {
  margin: 6rem auto 0rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
}
.instructor {
  width: 100%;
  height: 35rem;
  position: relative;
}
.instructor img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  object-fit: cover;
}
.name {
  position: absolute;
  color: black;
  font-weight: 600;
  width: 60%;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 30rem;
  margin-left: 20%;
  text-align: center;
}
/*Part 7, Section 2*/
.part-7 main {
  margin: 6rem 6rem 0rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  font-size: 1.2rem;
}
.package {
  border: 1px solid var(--primary-light-gray);
  border-radius: 20px;
  padding: 4rem 2rem;
  line-height: 4rem;
}
.package h5 {
  font-size: 1.5rem;
}
.package span {
  font-size: 1.5rem;
  font-weight: 600;
}
.package p {
  line-height: 2rem;
}
.button {
  text-align: center;
}
.btn-choose {
  margin-top: 6rem;
  background-color: black;
  color: white;
  padding: 1rem 5rem;
  border: 1px solid var(--primary-light-gray);
  border-radius: 10px;
}
.package-active {
  background-color: var(--primary-colour-blue);
}
.package-active button {
  background: linear-gradient(90deg, rgb(247, 155, 36), 10%, rgb(255, 74, 3));
}
/*Arrow classes*/
.arrow-icons {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}
.arrow-left svg {
  width: 80%;
}
.arrow-right svg {
  width: 80%;
}
.arrow-left circle:hover,
.arrow-left circle:active,
.arrow-left circle::after {
  fill: var(--primary-colour-blue);
  color: var(--primary-colour-blue);
}
.arrow-right circle:hover,
.arrow-right circle:active,
.arrow-right circle::after {
  fill: var(--primary-colour-blue);
  color: var(--primary-colour-blue);
}
.program-icon {
  margin: 0.5rem 0;
}
/*part 8 styling*/
.part-8 main {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.part-8-content {
  display: grid;
  grid-template-rows: 2fr 1fr;
  width: 20%;
}
.part-8-header {
  text-transform: capitalize;
}
.slider {
  display: flex;
  max-width: 55%;
  overflow: hidden;
  height: 45rem;
  position: relative;
}
.slide {
  background-color: var(--primary-very-dark-gray);
  min-width: 100%;
  height: 45rem;
  padding: 7rem 5rem;
}
.rating {
  text-align: right;
}
.review {
  margin: 2rem 0;
  text-align: justify;
  font-size: 1.6rem;
}
.rating i {
  color: gold;
}
.reviewer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.reviewer-position {
  font-size: 1.2rem;
}
.reviewer-picture {
  width: 6rem;
  height: 6rem;
}
.reviewer-picture img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}
.user {
  position: relative;
  display: flex;
  margin-bottom: 2rem;
}
.picture-2 {
  position: absolute;
  margin-left: 4rem;
}
.picture-3 {
  position: absolute;
  margin-left: 8rem;
}
.next-btn {
  position: absolute;
  margin-top: 15rem;
  margin-left: 97%;
  width: 10%;
  z-index: 1;
}
.next-btn svg {
  width: 50%;
}
.next-btn circle {
  fill: white;
}
.next-btn line,
.next-btn polyline {
  color: var(--primary-colour-blue);
}
.dots {
  display: flex;
  position: absolute;
  gap: 0.5rem;
  margin-top: 40rem;
  margin-left: 45%;
}
.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 20px;
  background-color: var(--primary-medium-gray);
}
.dot-active {
  background-color: var(--primary-colour-blue);
}
footer {
  background-color: var(--primary-dark-gray);
}
.footer {
  display: flex;
  justify-content: space-between;
}
.logo-details {
  width: 25%;
}
.logo-summary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo-details p {
  margin: 2rem 0;
  font-size: 1.3rem;
}
.footer-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  font-size: 1.3rem;
}
.footer-details p {
  margin: 0.5rem 0;
}
.social-icons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
